<br>
<div class="container-sml">
<h1> Inhabitation Campaigns </h1>

<ul class="no-bullets">

<% @alien_planets.each do |alien_planet| %>
<li><%= link_to alien_planet.name, alien_planets_path([:alien_planet_id])  %></li>
<% end %>




</ul>


<ul class="no-bullets">

</div>