<br>
<div class="container-sml">
<h1> Inhabited Planets </h1>

<ul class="no-bullets">
<h2>planet </h2>
<% @alien_planets.each do |alien_planet| %>
<li><%= link_to alien_planet.name, alien_planet_path(@alien_planet)  %></li>
<% end %>




</ul>


<ul class="no-bullets">

</div>