<br>
<h2> Users </h2>
<div class="center">
<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>
</div>

<%= @user.search %>
 