<div class="bkgd">
  <%= image_tag("logos/spaceshipbkgd.png") %>
  </div>


<ul class="no-bullets">

  <div class="card">
  <h1> Spaceships </h1>
<% @spaceships.each do |spaceship| %>

<h1> <%= link_to spaceship.name, spaceship %> </h1>

<% end %>
</div>
</ul>


 
