<h1> Welcome to E.T. creator </h1>

<div class="text-center home">
  
  <p>
    Please signup or login.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>

<div class = "center_text">
<%= image_tag("logos/images.jpg") %>
<%= image_tag("logos/insect.jpg") %>

<%= image_tag("logos/download.jpg") %>



</div>
