

<h1> Welcome to E.T. creator </h1>

<div class="text-center home">
  
  <p>
    Please signup or login.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>



<div class="xenomorph">
<%= image_tag("logos/xenomorph.jpg") %>

</div>

</div>
