// Place all the styles related to the alien_planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-xxl {
    color:#0d6efd;
    background-color: black
  }

  .alien_invasion {
    background-image:url("logos/invasion.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    input {
      display: block;
      margin: .5em auto;
    }
    
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      inline-size: min-content;
    }
    
    