
body {
    text-align: center;
    background-color: black;
    color: rgb(204, 235, 255);
  }
  
  a {
    color: skyblue;
  }
  
  a:visited {
    color: rgb(0, 242, 255);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
   
    border-radius: 3px;
    margin: 1em;
    width: 30%
  }
  
  .errors {
    color: red;
  }

  .no-bullets {
    list-style-type: none;
}