.tr3b {
    background-image:url("logos/tr3b");
    background-repeat: no-repeat;
    background-size: cover;
    }

    .mothership {
        background-image:url("logos/finalBattle77");
        background-repeat: no-repeat;
        background-size: cover;
        }

        .disc {
            background-image:url("logos/flydisc");
            background-repeat: no-repeat;
            background-size: cover;
            }