.bodyspecies {
    background-image:url("logos/bigAlien");
    background-repeat: no-repeat;
    background-size: cover;
    }

    .reptilian {
        background-image:url("logos/reptile");
        background-repeat: no-repeat;
        background-size: cover;
        }

        .xenomorph {
            background-image:url("logos/xenomorph");
            background-repeat: no-repeat;
            background-size: cover;
            }

            .insectoid {
                background-image:url("logos/insect");
                background-repeat: no-repeat;
                background-size: cover;
                }