<nav> 

   <%= link_to " ðŸ‘½ ", aliens_path %><br>
   <%= link_to " ðŸ›¸ ", spaceships_path %><br>
   <%= link_to " ðŸ§¬ ", species_index_path %> <br>
   <%= link_to " ðŸŒ ", planets_path %> 
   
</nav>